/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

video{
  width: 100%
  height: auto;
  max-height: 40vh;
}

blockquote{
  color: #607d8b
}